cython
requests
numpy
scipy
Pillow
cython
matplotlib
scikit-image==0.14.2
tensorflow-gpu==1.15.5
tensorflow-estimator==1.15.1
keras==2.1.6
h5py==2.10.0
opencv-python
imgaug==0.3.0
IPython[all]
pycocotools
